In [73]:
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

In [10]:
!which chromedriver

/usr/local/bin/chromedriver

In [11]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [12]:
#setting up url for text scraping
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [54]:
#scraping title and description of most recent article
title = soup.find('article').find('li', class_='slide').find('h3').text
description = soup.find('article').find('li', class_='slide').find('div', class_='article_teaser_body').text

In [70]:
#setting up url for picture scraping
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
realurl = 'https://www.jpl.nasa.gov'
browser.visit(url2)

In [71]:
html2 = browser.html
soup2 = BeautifulSoup (html2, 'html.parser')
#print(soup2)

In [72]:
#scraping image source
image = soup2.find('footer').find('a', class_ ='button fancybox')
image = realurl + image ['data-fancybox-href']
image

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA23431_ip.jpg'

In [74]:
url3 = 'https://space-facts.com/mars/'

In [75]:
tables = pd.read_html(url3)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [79]:
df = tables[0]
df.columns = ['Description', 'Mars']
df.set_index('Description', inplace=True)
df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [84]:
#converts df to html table
html_table = df.to_html()

In [81]:
#cleans up table
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [82]:
#saves table as file
df.to_html('table.html')

In [83]:
#opens table file
!open table.html